.info a, .error a {
    color: blue !important;
    text-decoration: none;
}

.info a:hover, .error a:hover {
    text-decoration: underline;
}
.info, .error {
    color: black;
    padding-left: 5px;
    max-width: 50%;
    background: #002a4f80;
}
.error {
    border-left: 3px solid red;
}

.info {
    border-left: 3px solid green;
}